/*
 * -------------------------------------------------
 *  nf-core/methylseq Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */


// Configurable variables/defaults
params {
    // defaults. best not changed
    version = '1.0-dev' // changes here might require changes in container and envs in profiles
    container = "nfcore/vipr:latest" // Container slug. Stable releases should specify release tag!
    nf_required_version = '0.28' // Minimum version of nextflow required
    publishdir = 'results'
    
    // Pipeline options
    skip_kraken = false
}


profiles {
    standard {
        includeConfig 'conf/base.config'
        process.executor = 'local'
        //includeConfig 'conf/igenomes.config'
    }    
    gis {
        includeConfig 'conf/base.config'
        includeConfig 'conf/gis.config'
        //includeConfig 'conf/igenomes.config'
    }
    awsbatch {
      includeConfig 'conf/base.config'
      includeConfig 'conf/awsbatch.config'
      //includeConfig 'conf/igenomes.config'
    }
    none {
        // Don't load any config (for use with custom home configs)
    }
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

// reports written to pwd. could use above define params.publishdir, but
// can be overwritten by user, which makes things messy
timeline.enabled = true
report.enabled = true
trace.enabled = true
dag.enabled = true
