/* AWS credentials (aws.accessKey, aws.secretKey, aws.region)
 * including SMTP profiles (mail.smtp.password and mail.smtp.user) and
 * process.queue go in here and should never be shared and hence added
 * to .gitignore. see https://www.nextflow.io/docs/latest/config.html#scope-aws
 */
includeConfig 'awsprofile.config'

/*
 * -------------------------------------------------
 *  Nextflow config file for AWS Batch
 * -------------------------------------------------
 * Imported under the 'awsbatch' Nextflow profile in nextflow.config
 * Uses docker for software depedencies automagically, so not specified here.
 */

aws.region = params.awsregion
process.executor = 'awsbatch'
process.errorStrategy = { task.attempt < 2 ? 'retry' : 'finish' }
process.queue = params.awsqueue
executor.awscli = '/home/ec2-user/miniconda/bin/aws'
params.tracedir = './'
