process {
    executor = 'awsbatch'
    errorStrategy = { task.attempt < 2 ? 'retry' : 'finish' }
}

docker.enabled = true

mail {
    from = 'rpd@gis.a-star.edu.sg'
    smtp {
        auth = true
        host = 'email-smtp.us-east-1.amazonaws.com'
        port = 587
        starttls.enable = true
        starttls.required = true
        // see above for user and password
    }
}

/* AWS credentials (aws.accessKey, aws.secretKey, aws.region)
 * including SMTP profiles (mail.smtp.password and mail.smtp.user) and
 * process.queue go in here and should never be shared and hence added
 * to .gitignore. see https://www.nextflow.io/docs/latest/config.html#scope-aws
 */
includeConfig 'awsprofile.config'

