/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/vipr -profile test
 */

params {
  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  skip_kraken = true
  // Input data
  readPaths = [
    ['PDH203',
    ['https://github.com/andreas-wilm/test-datasets/raw/vipr/testdata/PDH203_GTGGCC_NA_R1.n100000.fastq.gz',
    'https://github.com/andreas-wilm/test-datasets/raw/vipr/testdata/PDH203_GTGGCC_NA_R2.n100000.fastq.gz']],
    ['PDH205',
    ['https://github.com/andreas-wilm/test-datasets/raw/vipr/testdata/PDH205_CGTACG_NA_R1.n100000.fastq.gz',
    'https://github.com/andreas-wilm/test-datasets/raw/vipr/testdata/PDH205_CGTACG_NA_R2.n100000.fastq.gz']]
   ]
   ref_fasta = 'https://github.com/andreas-wilm/test-datasets/raw/vipr/reference/DENV_2.fa'
   cont_fasta = 'https://github.com/andreas-wilm/test-datasets/raw/vipr/reference/PhiX.fa'
}

